.track_button{
    margin: 0 3px;
}

.track_data{
    max-height: 36px;
    display: grid;
    grid-template-columns: 300px 1fr ;
}

.calc_city_el{
    display: grid;
    grid-template-columns: 200px 300px ;
}


  .home_segment{
    margin: 0 -1px!important
  }

  .home_map_row{
    display: grid;
    grid-template-columns: 200px 1fr 200px ;
    
    
    /* height: 280px; */
  }

  .home_map_container{
      text-align: center;
  }

  .home_1_row{
    background-color: #F0F0F0;

    padding: 10px 1em 20px 1em;
     margin: 0 -1em;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }

  .home_1a_row{
    background-color: #F0F0F0;
   text-align: center;
     padding: 20px 1em 0 1em;
     margin: 0 -1em;
     
  }

  .home_2_row{
    
     height: 200px; 
  }

  .home_card{
  
      text-align: center;
      margin: 10px;
  }

  .image_row{
      vertical-align: middle;
        padding: 50px 0 150px 50px;
      height: 200px;
      margin: -1em -1em 0 -1em;
      
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      
      
  }

  .image_header{
      height: 20pt;
      color: #2444B5;
    font-size: 26pt;
    margin: 10px;
  }

  .image_text{
      margin: 10px;
    color: #2444B5;
    font-size: 16pt;
  }
  
  .contract_data{
      margin: 10px;
    display: grid;
    grid-template-columns: 300px 300px ;
  }

  .home_history{
      margin:  10px 0;
  }

  .home_track_input{
      border-radius: 3px;
  }

  .models {
    margin: -5px -14px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr ;
    background-repeat: no-repeat;
    background-position: right;
  }