.search_label {
    margin: 3px;
    font-size: 13px;
    
  }

  .search{
    display: grid;
    grid-template-columns: 150px 200px 100px ;
    margin: 5px;
  }

  .search_data {
    margin: 3px;
    font-size: 13px;
    border-bottom: #c0c0c0 solid 1px;
  }

  .search_data_input{
    border: none;
    width: 180px;
  }

  #search_button{
      height: 25px;
      margin: 0 10px;
      padding: 0 10px;
      background-color: aliceblue
  }

  .search_error{
    margin: 10px;
    font-size: 13px; 
  }